<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

    <div [ngClass]="{'text-right': chatService.usuario.uid == chat.uid}" class="text-right" *ngFor="let chat of chatService.chats">
        <img class="mr5" width="30px" height="30px" [src]="chatService.usuario.foto" alt="Foto">
        <span [ngClass]="{'badge-primary': chatService.usuario.uid == chat.uid, 
                          'badge-success': chatService.usuario.uid != chat.uid}" class="badge"> {{ chat.nombre }}
        </span>
        <p>{{ chat.mensaje }}</p>
    </div>

    <!--
    <div class="text-right">
        <span class="badge badge-success">Vir:</span>
        <p>Mensaje</p>
    </div>

    <div>
        <span class="badge badge-dark">María:</span>
        <p>Mensaje</p>
    </div>-->

    <input type="text" name="mensaje" class="form-control" [(ngModel)]="mensaje" (keyup.enter)="enviarMensaje()" placeholder="Escribe un mensaje">


</div>